# Setting up list of all gene interest

In [45]:
import pandas as pd
pd.options.mode.chained_assignment = None # Me suppressing an annoying warning message

In [65]:
file_name = "GeneNames.txt"
Genes=pd.read_csv(file_name,delimiter=',') # Load and display the data as a dataframe
Genes.tail()

        2-Sep
1351   ZNF488
1352   ZNF521
1353   ZNF536
1354  ZNF804A
1355   ZNHIT2

In [47]:
GeneNames=['2-Sep']
for x in range (0,1356):
    GeneNames.append(Genes["2-Sep"][x])
len(GeneNames)#expected value is 1357

1357

# Looking up all the row number of the gene interest in csv

In [48]:
file_name = "rows_metadata.csv"
rows=pd.read_csv(file_name,delimiter=',') # Load and display the data as a dataframe
rows.tail()

       row_num  gene_id  ensembl_gene_id    gene_symbol  entrez_id
52371    52372      NaN  ENSGR0000237040         DPH3P2        NaN
52372    52373      NaN  ENSGR0000237531  RP11-309M23.1        NaN
52373    52374      NaN  ENSGR0000237801          AMDP1        NaN
52374    52375      NaN  ENSGR0000248421   RP11-325D5.3        NaN
52375    52376      NaN  ENSGR0000249358  RP13-297E16.3        NaN

In [49]:
rowsRed=rows[rows["gene_symbol"].isin(GeneNames)]

In [50]:
rowsRed.head()

    row_num  gene_id  ensembl_gene_id gene_symbol  entrez_id
14       15   6369.0  ENSG00000001617      SEMA3F     6405.0
26       27  30865.0  ENSG00000002745       WNT16    51384.0
27       28  22827.0  ENSG00000002746       HECW1    23072.0
36       37  54847.0  ENSG00000003249      DBNDD1    79007.0
37       38  36952.0  ENSG00000003393        ALS2    57679.0

In [51]:
rowsRed=rowsRed.reset_index()

In [52]:
rowsRed.head()

   index  row_num  gene_id  ensembl_gene_id gene_symbol  entrez_id
0     14       15   6369.0  ENSG00000001617      SEMA3F     6405.0
1     26       27  30865.0  ENSG00000002745       WNT16    51384.0
2     27       28  22827.0  ENSG00000002746       HECW1    23072.0
3     36       37  54847.0  ENSG00000003249      DBNDD1    79007.0
4     37       38  36952.0  ENSG00000003393        ALS2    57679.0

In [53]:
del rowsRed['index']
del rowsRed['gene_id']
del rowsRed['ensembl_gene_id']
del rowsRed['entrez_id']

In [64]:
rowsRed.tail()

      row_num gene_symbol
1348    48442         OMP
1349    49427         VTN
1350    49898       SALL3
1351    50691        CUX1
1352    51430        DIO3

In [55]:
rowsRed['row_num'].size #there exist missing genes

1353

# Looking for missing genes

In [56]:
ver = [False]*1357

In [57]:
for i in range(0,1357):
    for j in range(0,1353):
        if GeneNames[i] == rowsRed['gene_symbol'][j]:
            ver[i]=True

In [58]:
for i in range(0,1357):
    if not ver[i]:
        print(GeneNames[i])

2-Sep
CCSAP
ID2B
NREP
NYAP1

# Gene DIO3 appears twice on the rowMetaData, may cause a problem

In [87]:
rowsRed['gene_symbol'].describe()

count     1353
unique    1352
top       DIO3
freq         2
Name: gene_symbol, dtype: object

In [90]:
rowsRed.loc[rowsRed['gene_symbol']=='DIO3']

      row_num gene_symbol
1285    17804        DIO3
1352    51430        DIO3

# Finishing up

In [91]:
rowsRed=rowsRed.loc[rowsRed['gene_symbol']!='DIO3']

In [93]:
rowsRed.head()

   row_num gene_symbol
0       15      SEMA3F
1       27       WNT16
2       28       HECW1
3       37      DBNDD1
4       38        ALS2

In [95]:
rowsRed['gene_symbol'].size #6genes removed.

1351

In [98]:
rowsRed.to_csv('rowsReduced.csv')